@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Science+Gothic:wght@100..900&display=swap');
body{ 
    color: aliceblue;
    font-family: "Science Gothic", sans-serif;
    position: relative;
   
    background-image:url("blob-scene-haikei\ \(1\).png") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
main{
    text-align: center ;
   
}

    
    


 

